@page
@model MyKitchen.Pages.DashboardModel
@{
    Layout = "_Layout";
}
<style type="text/css">

    .title-banner {
        background-color: blue;
        color: white;
    }
</style>

<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-left">
                            <h4 class="text-left">Menu</h4>
                            <div class="title-banner w-100 rounded p-1">Today</div>
                            <div class="mb-4">
                                @if (@Model.TodayHasItems)
                                {
                                    @:<ul>
                                    foreach (var meal in @Model.TodaysMeals)
                                    {
                                        @:<li>
                                        <a asp-page="/PageRouteTest/MealDetails" asp-page-handler="ShowDetails" asp-route-mealId="@meal.MealID">@meal.MealName</a>
                                        @:</li>
                                    }
                                    foreach (var item in @Model.TodaysItems)
                                    {
                                        @:<li>@item.FoodItemName</li>
                                    }
                                    @:</ul>

                                }
                                else
                                {
                                    @:<span>There is Nothing on the Menu for Today. Add some Food to keep on track</span>
                                }
                            </div>
                            <div class="title-banner w-100 rounded p-1">Tomorrow</div>
                            <div class="mb-5">
                                @if (@Model.TomorrowHasItems)
                                {

                                    @:<ul>
                                    foreach (var meal in @Model.TomorrowsMeals)
                                    {
                                        @:<li>
                                            <a asp-page="/PageRouteTest/MealDetails" asp-page-handler="ShowDetails" asp-route-mealId="23">@meal.MealName</a>
                                        @:</li>
                                    }
                                    foreach (var item in @Model.TomorrowsItems)
                                    {
                                        @:<li>@item.FoodItemName</li>
                                    }
                                    @:</ul>

                                }
                                else
                                {
                                    @:<span>There is Nothing on the Menu for Tomorrow. Add some Food to keep on track</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb=3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-left">
                            <h4 class="text-left">Favorite Meals</h4>
                            <hr/>
                            <div class="mb-1">
                                @if (@Model.FavoriteMeals.Count > 0)
                                {

                                    <ul>
                                        @foreach (var meal in @Model.FavoriteMeals)
                                        {
                                            <li>
                                                @meal.MealName
                                                @* Link to a new Meal Details Page in Razor Page or should we link to MVC Page - I think it makes sense to link to new dedicated page *@
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    @:<span>You have no favorites yet</span>
                                }
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
     </div>

</div>

