@model MyKitchen.Models.MealBuilderMealDetails_VM

@{
    ViewData["Title"] = "Meal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

<h2>@Model.Meal.MealName</h2>
    <hr />

        @if(Model.Meal.MealFoodItems.Count == 0)
        {
            @* var mealId = Model.Meal.MealID; *@
            <span>This meal doesn't have any food in it yet.<a asp-action="SelectFoodItemsForMeal" asp-route-mealId="@Model.Meal.MealID">Click Here To Continue to site</a> } to add some</span>
        }


    @Html.ActionLink("Add To Queue", "Edit", new {/* id = Model.PrimaryKey */}) |
    @Html.ActionLink("Add More Food", "SelectFoodItemsForMeal", new {mealId = Model.Meal.MealID}) |
    @Html.ActionLink("Delete Meal", "DeleteMeal", new {mealId = Model.Meal.MealID}) |

    <ul>
    @foreach (var item in @Model.Meal.MealFoodItems)
    {
        var foodItem = item.FoodItems.FoodItemName;
        <li>@foodItem</li>
    }
    </ul>

    <form asp-action="UpdateMeal">
    <div class="form-group">
        <label asp-for="Meal.Recipe"></label>
        <textarea rows="12" id="taRecipe" asp-for="Meal.Recipe" class="form-control w-75"></textarea>

    </div>
       <div class=""> 
            <input type="submit" value="Save" class="btn btn-success" />
            <button type="button" class="btn btn-secondary">Cancel</button> 
        </div> 
        <input asp-for="Meal.MealID" value="@Model.Meal.MealID" type="hidden">
    </form>

        <a asp-action="Index">Back to List</a>
<div>

@section scripts {

    <script type="text/javascript">

    jQuery.fn.extend({
      autoHeight: function () {
        function autoHeight_(element) {
          return jQuery(element).css({
            'height': 'auto',
            'overflow-y': 'hidden'
          }).height(element.scrollHeight);
        }
        return this.each(function () {
          autoHeight_(this).on('input', function () {
            autoHeight_(this);
          });
        });
      }
    });
    $('#taRecipe').autoHeight();

    </script>

}