@model  MyKitchen.Models.Meals.MealBuilderSelectFoodItemsViewModel

@ViewBag.Message

<div asp-validation-summary="All">
    <span style="color:red;">Please correct the following errors</span>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodItems.FirstOrDefault().FoodItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodItems.FirstOrDefault().FoodDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodItems.FirstOrDefault().Cost)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.FoodItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodDescription)
            </td>
            <td>
                <a asp-action="AddToMeal" asp-route-currentPage="@Model.PagingInfo.CurrentPage" asp-route-mealId="@Model.TheMeal.MealID" asp-route-id="@item.FoodItemID">Add To Meal</a> |
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="MealDetails" asp-route-mealId="@Model.TheMeal.MealID">Back To Meal</a>

